//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$purple-50: #f1edff;
$purple-100: #d1caec;
$purple-200: #b2a8d9;
$purple-300: #9385c8;
$purple-400: #7462b7;
$purple-500: #5a489d;
$purple-600: #46387b;
$purple-700: #322859;
$purple-800: #1e1737;
$purple-900: #0b0618;

$dark-50: #f8eff821;
$dark-100: #e0d1e021;
$dark-200: #cbb4ca21;
$dark-300: #b695b621;
$dark-400: #a077a021;
$dark-500: #875e8721;
$dark-600: #69486921;
$dark-700: #4c344b21;
$dark-800: #2e1f2e21;
$dark-900: #12081221;

$primary: $purple-400;
$darken: $dark-900;
